.pageContainer {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  /* padding-bottom: 2.5rem; Footer height */
  padding: 2vw;
  padding-bottom: 8vh; /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
}
